@charset "utf-8";
/* CSS Document */

body {
	margin: 0;
	padding: 0;
	line-height: normal;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #000;
	color:#fff;
}

h6 {
	margin: 0px;
	font-size: 14px;
	color:#FC0;
	font-weight: bold;
	padding-left: 20px;
}

h2 {
	margin: 20px;
	padding: 0px 0 10px 0;
	line-height: 1.5;
	font-size: 20px;
	font-weight:normal;
	color: #FFFFFF;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #999999;
}

a:link, a:visited {
	color: #36F;
	text-decoration:none;
} 
a:active, a:hover {
	color: #F90;
}

.noticiaCuerpo{
	color:#FFF;	
	padding-left:22px;
}

/*estilos del paginador*/

ul.pagination{
	padding:20px 0px 0px 0px;
	height:100%;
	font:12px 'Tahoma';
	list-style-type:none;
	margin: 0 auto; 
    text-align: left;
}

ul.pagination li.details{
    padding:7px 10px 7px 10px;
    font-size:12px;
}

ul.pagination li.dot{padding: 3px 0;}

ul.pagination li{
	float:left;
	margin:0px;
	padding:0px;
	margin-left:5px;
}

ul.pagination li:first-child{
	margin-left:0px;
}

ul.pagination li a{
	color:black;
	display:block;
	text-decoration:none;
	padding:7px 10px 7px 10px;
}

ul.pagination li a img{
	border:none;
}


/*Colores amarillos del paginador*/
	ul.pagination li.details{
	   color:#ffcc00;
	}
    
    ul.pagination li a
	{
		border-radius:3px;	
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		padding:6px 9px 6px 9px;
	}

	ul.pagination li a
	{
		color:#893A00;
		background:#ffcc00;
		background:-moz-linear-gradient(top,#FFD500,#ffcc00);
		background:-webkit-gradient(linear,0 0,0 100%,from(#FFD500),to(#ffcc00));	
	}	
	
	ul.pagination li a:hover,
	ul.pagination li a.current
	{
		background:#FFF4BA;
	}   